/*
!/.gitignore
!/.gitattributes
!/.bashrc
!/.bash_profile
!/.vscode
/.vscode/*
!/.vscode/settings.json
!/OneDrive/Documents/powershell/Microsoft.PowerShell_profile.ps1
!/OneDrive - Autodesk/Documents/powershell/Microsoft.PowerShell_profile.ps1
!/Documents
/Documents/*
!/Documents/powershell
/Documents/powershell/*
!Documents/powershell/*_profile.ps1
!/Documents/WindowsPowershell
/Documents/WindowsPowershell/*
!/Documents/WindowsPowershell/*_profile.ps1
!/.oh-my-posh
!/.zshrc
!/.zprofile
