/*
!/.gitignore
!/.gitattributes
!/.bashrc
!/.bash_profile
!/.vscode
/.vscode/*
!/.vscode/settings.json
!/OneDrive/Documents/PowerShell
/OneDrive/Documents/PowerShell/*
!/OneDrive/Documents/PowerShell/*_profile.ps1
!/OneDrive - Autodesk/Documents/PowerShell
/OneDrive - Autodesk/Documents/PowerShell/*
!/OneDrive - Autodesk/Documents/PowerShell/*_profile.ps1
!/Documents/Powershell
/Documents/Powershell/*
!/Documents/Powershell/*_profile.ps1
!/Documents/WindowsPowershell
/Documents/WindowsPowershell/*
!/Documents/WindowsPowershell/*_profile.ps1
!/.oh-my-posh
!/.zshrc
!/.zprofile
